Abaqus/Notebooks/sim_tmp/
Abaqus/Notebooks/micro_simulation/
Abaqus/Notebooks/.ipynb_checkpoints/
Abaqus/Notebooks/abaqus.*
Abaqus/Scripts/*.rpy*
Abaqus/Scripts/*.rec
Abaqus/Scripts/__pycache__
Abaqus/Scripts/abaqus_acis.log
Abaqus/Scripts/abaqus_v6.env
Abaqus/Simulation/UD_hex_homogen.odb
Abaqus/API_Dev/*
