Notebooks/sim_tmp/
Notebooks/micro_simulation/
Notebooks/.ipynb_checkpoints/
Notebooks/abaqus.*
Scripts/*.rpy*
Scripts/*.rec
Scripts/__pycache__
Scripts/abaqus_acis.log
Scripts/abaqus_v6.env
Simulation/UD_hex_homogen.odb